{:description "metacarpals bombardier titbit's" :amount 294.93M :date #day "2013-09-04"}
{:description "barrage angioplasties chenille's" :amount -623.58M :date #day "2013-12-11"}
{:description "mistletoe Marilyn's parishes" :amount 1517.91M :date #day "2013-10-28"}
{:description "utterances estimate Lopez" :amount -3615.75M :date #day "2013-03-13"}
{:description "screwdrivers duellist entry's" :amount 1533.65M :date #day "2013-05-17"}
{:description "Euterpe's countenances negligees" :amount -3634.44M :date #day "2013-06-18"}
{:description "Aron thorny showpieces" :amount 614.66M :date #day "2013-04-24"}
{:description "priest's efficaciously Coulter's" :amount -4049.35M :date #day "2013-04-24"}
{:description "ambrosia's sidestroke's nun" :amount -824.36M :date #day "2013-10-05"}
{:description "internationalizes offing cockscombs" :amount -4962.28M :date #day "2013-10-17"}
{:description "rawhide pouting embodies" :amount -4344.11M :date #day "2013-02-25"}
{:description "briskness beseeched biology's" :amount 3185.28M :date #day "2013-12-24"}
{:description "turnout's Letterman's subcompact's" :amount 1359.85M :date #day "2013-06-24"}
{:description "bigamous riddance Earle's" :amount -4356.77M :date #day "2013-12-25"}
{:description "unplanned magnums fruitfulness's" :amount -1796.05M :date #day "2013-10-31"}
{:description "circumcision Avila Innocent's" :amount -2153.01M :date #day "2013-12-05"}
{:description "Bethlehem Joyner possessives" :amount -676.50M :date #day "2013-08-30"}
{:description "Soweto's hallucinogens archipelago's" :amount -4916.32M :date #day "2013-02-06"}
{:description "Longstreet audits muddles" :amount -437.69M :date #day "2013-02-16"}
{:description "quietest patinas sanctifying" :amount 1349.61M :date #day "2013-06-28"}
{:description "Mount Hopkins marjoram" :amount -1658.30M :date #day "2013-05-24"}
{:description "melodious gnu Millikan" :amount -2697.21M :date #day "2013-12-07"}
{:description "generated deduction flagstone's" :amount 1049.22M :date #day "2013-06-04"}
{:description "crooks whoopee counterfeiter" :amount -2549.87M :date #day "2013-12-18"}
{:description "disqualify Loafer's headmaster" :amount 4980.12M :date #day "2013-01-20"}
{:description "miseries jackpots remount's" :amount 727.23M :date #day "2013-07-20"}
{:description "mooring's lucidness prissiest" :amount 2072.81M :date #day "2013-03-18"}
{:description "ferociously estranged farming's" :amount 3417.04M :date #day "2013-08-06"}
{:description "gyration broaches sauna" :amount 1311.40M :date #day "2013-05-11"}
{:description "you'd paramount pickerel's" :amount 4392.29M :date #day "2013-11-26"}
{:description "stymies brutish commandants" :amount 4115.19M :date #day "2013-07-24"}
{:description "strike branch's Jansenist's" :amount -557.77M :date #day "2013-10-07"}
{:description "bunks preference deleterious" :amount -1813.52M :date #day "2013-10-15"}
{:description "snowballing tray's floury" :amount -4252.28M :date #day "2013-03-03"}
{:description "birdbath's lectured lumberjacks" :amount 2946.13M :date #day "2013-02-07"}
{:description "outworn neurology Toynbee" :amount -4177.99M :date #day "2013-12-04"}
{:description "whim's phony autism's" :amount 867.45M :date #day "2013-11-06"}
{:description "sweeping centigramme craggy" :amount -4528.24M :date #day "2013-11-20"}
{:description "Audrey subsidies amoeba's" :amount -470.86M :date #day "2013-03-17"}
{:description "Sapporo's sapping contingent" :amount -3833.21M :date #day "2013-11-06"}
{:description "intensively loathe Tsimshian's" :amount -1087.47M :date #day "2013-10-09"}
{:description "ascription's accord's defense's" :amount -3323.57M :date #day "2013-08-15"}
{:description "streamline healed privatize" :amount -598.40M :date #day "2013-05-16"}
{:description "flopping dicta singer's" :amount -1692.93M :date #day "2013-11-25"}
{:description "metallurgy's dalliances addresses" :amount -1965.49M :date #day "2013-11-06"}
{:description "Pekingese bondsmen obduracy" :amount -3394.09M :date #day "2013-04-04"}
{:description "recited lingo shouldered" :amount -206.18M :date #day "2013-09-03"}
{:description "steels hijacked stalactite's" :amount 4641.48M :date #day "2013-08-29"}
{:description "huntsmen wickers youngish" :amount -3833.58M :date #day "2013-02-03"}
{:description "boughs tsunami's inefficiencies" :amount 547.02M :date #day "2013-02-06"}
{:description "hydrogenated worrier ambling" :amount -4026.08M :date #day "2013-05-29"}
{:description "Tulsa Quechua autoworker" :amount -107.78M :date #day "2013-10-29"}
{:description "Brahman's teleconference's transport" :amount 1335.99M :date #day "2013-11-05"}
{:description "prohibits mistakenly oppress" :amount 1287.16M :date #day "2013-02-15"}
{:description "teething capstan's nonplusing" :amount 4513.89M :date #day "2013-07-06"}
{:description "pavements impersonated bordello's" :amount -1344.54M :date #day "2014-01-01"}
{:description "hardcover standpoint Zedong" :amount -3849.43M :date #day "2013-08-14"}
{:description "disapproved penthouses monolithic" :amount 690.57M :date #day "2013-11-28"}
{:description "steeps Kennith's Christs" :amount -879.81M :date #day "2013-01-03"}
{:description "emend witticism airbrushes" :amount -1769.56M :date #day "2013-09-25"}
{:description "when forensic whacking" :amount 11.75M :date #day "2013-09-11"}
{:description "speediest bumming encapsulation" :amount -3228.20M :date #day "2013-12-30"}
{:description "truffles sear administrators" :amount -4342.39M :date #day "2013-06-01"}
{:description "disbelief's Minoan rookeries" :amount 4541.01M :date #day "2013-09-23"}
{:description "lent villain apprenticeship's" :amount -328.33M :date #day "2013-05-06"}
{:description "stencilled abundance's deciphers" :amount 2991.29M :date #day "2013-12-30"}
{:description "Ricky anchor's hermitage's" :amount 2093.27M :date #day "2013-09-16"}
{:description "concertina's Chibcha brandish" :amount 2362.49M :date #day "2013-11-27"}
{:description "clarification's embroidery corresponded" :amount 189.13M :date #day "2013-11-25"}
{:description "collapse's obelisk's reverberate" :amount 706.26M :date #day "2013-04-02"}
{:description "trumpets gruffly lunching" :amount -1.82M :date #day "2013-06-09"}
{:description "envisaging Randell interim" :amount -2992.25M :date #day "2013-06-07"}
{:description "syllabic moonlighting's handful" :amount 2767.63M :date #day "2013-01-25"}
{:description "squawks olive's cannibalism's" :amount 3782.49M :date #day "2013-10-03"}
{:description "ceremoniously croppers pantyhose" :amount 1161.65M :date #day "2013-04-20"}
{:description "dogtrots Kraft Helga" :amount -2164.80M :date #day "2013-05-10"}
{:description "coppers Edgardo briquette's" :amount 4388.92M :date #day "2013-07-22"}
{:description "telethon timidity disengaging" :amount -324.42M :date #day "2013-07-21"}
{:description "dogwoods potting generosities" :amount 4328.47M :date #day "2013-10-02"}
{:description "hydroplanes incurably Ashikaga's" :amount -4984.24M :date #day "2013-05-25"}
{:description "volumes Austerlitz lava" :amount 4007.74M :date #day "2013-03-26"}
{:description "culminations phoney's Ludhiana" :amount 2012.52M :date #day "2013-04-15"}
{:description "couldn't multinational's roused" :amount 1745.92M :date #day "2013-12-27"}
{:description "unseemliness pelicans hairpins" :amount 4843.41M :date #day "2013-05-16"}
{:description "foretasting incentives backstretches" :amount 4673.09M :date #day "2013-07-23"}
{:description "pintoes hitchhikes pars" :amount -2029.82M :date #day "2013-07-18"}
{:description "wiretap's burglars consecration's" :amount 132.26M :date #day "2013-11-02"}
{:description "safeties Hertzsprung Grable" :amount -4787.15M :date #day "2013-03-27"}
{:description "sailfish's bloodthirstiness's padre" :amount 2730.71M :date #day "2013-09-02"}
{:description "trolleys hyperbolas papilla" :amount -1708.57M :date #day "2013-09-18"}
{:description "miscalculates headache backyard" :amount 1244.59M :date #day "2013-03-04"}
{:description "Anglo Slovakian" :amount -3821.39M :date #day "2013-12-14"}
{:description "erased Costner disposal's" :amount 813.17M :date #day "2013-04-01"}
{:description "huger annihilation's mullions" :amount 1587.19M :date #day "2013-03-03"}
{:description "attaching clairvoyant Stanley" :amount -2790.79M :date #day "2013-02-23"}
{:description "alloyed presume nostalgia's" :amount 1073.69M :date #day "2013-12-09"}
{:description "bet cure figure" :amount 4120.99M :date #day "2013-09-05"}
{:description "emit collocations Ampere" :amount -1349.16M :date #day "2013-01-13"}
{:description "chancery intervened Dionysus" :amount -2221.81M :date #day "2013-07-26"}
{:description "articulate groggiest monaural" :amount -2206.95M :date #day "2013-01-18"}
{:description "insurrection hydra's bouncer's" :amount 4731.45M :date #day "2013-04-27"}
{:description "brethren Shockley copycats" :amount 1422.36M :date #day "2013-01-25"}
{:description "nettled calumniates shrub" :amount 1754.11M :date #day "2013-01-22"}
{:description "contumacious arming stinting" :amount 4405.21M :date #day "2013-02-06"}
{:description "pays pitching Sheryl" :amount -359.87M :date #day "2013-03-19"}
{:description "subsisting slavery's Wezen" :amount 840.95M :date #day "2013-08-21"}
{:description "Sergei's retort's rationalism's" :amount 3279.19M :date #day "2013-08-26"}
{:description "u jockeyed threshed" :amount 2361.44M :date #day "2013-03-04"}
{:description "velvetier teasels elector's" :amount 4567.41M :date #day "2013-03-07"}
{:description "Vogue Librium's shortbread's" :amount 1378.35M :date #day "2013-05-19"}
{:description "viceroys moan's rampantly" :amount 2518.30M :date #day "2013-02-10"}
{:description "badgers overlook Scandinavian's" :amount 1754.87M :date #day "2013-08-23"}
{:description "abhorred Yellowstone's impenetrability's" :amount -4143.44M :date #day "2013-10-01"}
{:description "mesa's clumsiest dreariness" :amount 1881.27M :date #day "2013-02-18"}
{:description "mechanical separatist rusted" :amount 4887.48M :date #day "2013-09-21"}
{:description "chucks Burgoyne's intagli" :amount 4046.42M :date #day "2013-03-03"}
{:description "cuttings reveller's Jacobi" :amount -3012.94M :date #day "2013-12-02"}
{:description "Lancelot pinning invisibility's" :amount -379.68M :date #day "2013-07-21"}
{:description "Mandy's Marquesas carotid's" :amount -1685.04M :date #day "2013-02-25"}
{:description "Chattahoochee blaster's mariachi" :amount -4247.87M :date #day "2013-05-22"}
{:description "adobe's overcasting disintegrates" :amount -4715.67M :date #day "2013-08-21"}
{:description "abbots limbered handcart" :amount 4913.34M :date #day "2013-11-30"}
{:description "phoney's feted breakthrough" :amount -4917.57M :date #day "2013-03-18"}
{:description "hotels buffer's caffeine" :amount -2606.80M :date #day "2013-05-15"}
{:description "exclusion inundating Serena" :amount 3203.53M :date #day "2013-03-12"}
{:description "caulkings an ins" :amount -2190.03M :date #day "2013-10-23"}
{:description "overpaying renegading" :amount -2469.23M :date #day "2013-03-04"}
{:description "deformities aristocratic humanly" :amount 3364.70M :date #day "2013-02-02"}
{:description "evacuation strategist's cribs" :amount 188.77M :date #day "2013-03-05"}
{:description "deliberations carol's bulletin's" :amount -1463.52M :date #day "2013-11-14"}
{:description "dormitory's concession yoghurts" :amount 4966.96M :date #day "2013-04-04"}
{:description "wrestlers cornea's secondarily" :amount -2720.00M :date #day "2013-03-26"}
{:description "lingual fountainhead bloomer's" :amount 306.39M :date #day "2013-09-28"}
{:description "beepers Kirkpatrick Eurasian's" :amount -1883.98M :date #day "2013-05-30"}
{:description "Wycliffe's Mill hearing" :amount -4172.54M :date #day "2013-03-16"}
{:description "roles watercolor's immigrant" :amount 1319.79M :date #day "2013-02-05"}
{:description "disfavor hubbub's conservationist's" :amount -3492.62M :date #day "2013-10-21"}
{:description "developmental alluvial's sleepwear" :amount 865.16M :date #day "2013-09-03"}
{:description "indecisiveness's festoon Jude" :amount 3268.65M :date #day "2013-10-13"}
{:description "starts believer papacy" :amount -1490.41M :date #day "2013-02-04"}
{:description "electives gibbet's slays" :amount 2487.72M :date #day "2013-06-24"}
{:description "jiggle swill cadre's" :amount 4857.33M :date #day "2013-08-11"}
{:description "learners Ruthie ensuring" :amount 3951.06M :date #day "2013-06-11"}
{:description "cutup's militarily pirated" :amount -120.09M :date #day "2013-09-09"}
{:description "unscrewing munched assistant's" :amount -2795.25M :date #day "2013-07-26"}
{:description "pan's useless rack's" :amount -3897.60M :date #day "2013-09-17"}
{:description "carpels hometown flophouse" :amount 2862.12M :date #day "2013-05-02"}
{:description "Stolichnaya's impulse part" :amount 1020.41M :date #day "2013-08-19"}
{:description "cement's nonconformist's waggle's" :amount -1087.51M :date #day "2013-12-01"}
{:description "Josephson's rigidly liquidating" :amount -322.78M :date #day "2013-02-18"}
{:description "Deimos prolixity's cad's" :amount -4575.43M :date #day "2013-12-14"}
{:description "nurture Sakha's adjustable" :amount -1612.44M :date #day "2013-08-13"}
{:description "Katheryn bobbins" :amount -4254.46M :date #day "2013-02-01"}
{:description "prequel transcript's paramecia" :amount 1282.22M :date #day "2013-12-11"}
{:description "wigwag's trespassers earn" :amount 2969.30M :date #day "2013-04-23"}
{:description "imitators fetter Mayra's" :amount -1783.81M :date #day "2013-01-22"}
{:description "entertain Antichrists favors" :amount -2183.36M :date #day "2013-11-27"}
{:description "Brit dissonance's firewater's" :amount -4134.25M :date #day "2013-11-23"}
{:description "Teflon's cellars vigorously" :amount -2660.39M :date #day "2013-09-01"}
{:description "insomnia's Kurdish's angularity's" :amount -503.22M :date #day "2013-05-05"}
{:description "Lonnie inventories seediest" :amount 199.86M :date #day "2013-04-15"}
{:description "Aphrodite's freelancing afflicted" :amount -93.31M :date #day "2013-06-11"}
{:description "gaiter Okhotsk kinky" :amount 3337.93M :date #day "2013-07-23"}
{:description "wandering hump Kettering" :amount 2238.41M :date #day "2013-04-13"}
{:description "tactlessness Pd's Wyo" :amount 3679.07M :date #day "2013-12-04"}
{:description "reaction's cleaner disinclining" :amount 3554.34M :date #day "2013-04-29"}
{:description "delude innocuous chubbiness's" :amount -4129.35M :date #day "2013-05-15"}
{:description "Bannister sealers sheen's" :amount 3842.02M :date #day "2013-07-06"}
{:description "piazzas mining's speedboat's" :amount -4640.59M :date #day "2013-01-04"}
{:description "Kim disassembled voluntary's" :amount 2435.70M :date #day "2013-05-18"}
{:description "cartridge outlaid glass" :amount -311.78M :date #day "2013-08-23"}
{:description "penile indivisibility follicle" :amount -1894.48M :date #day "2013-11-13"}
{:description "Photostat Shanghai numismatics's" :amount -3243.76M :date #day "2013-04-23"}
{:description "blastoff's stapler jealousy" :amount 3840.54M :date #day "2013-01-15"}
{:description "mordant's yummier distributor's" :amount 1565.87M :date #day "2013-09-20"}
{:description "Murmansk fellatio's inveighing" :amount 1710.34M :date #day "2013-10-04"}
{:description "Rio's Figueroa's gastric" :amount 56.20M :date #day "2013-01-11"}
{:description "destination's amoebas routinized" :amount 2612.17M :date #day "2013-10-20"}
{:description "Streisand's Suzuki ampule's" :amount -2189.62M :date #day "2013-01-29"}
{:description "interns harpy's jumpers" :amount 957.52M :date #day "2013-03-26"}
{:description "reentered shrift's beet" :amount 1676.68M :date #day "2013-07-28"}
{:description "crumbier tourmaline's fisherman" :amount 1855.17M :date #day "2013-08-08"}
{:description "prohibits model's Thebes's" :amount -1689.11M :date #day "2013-01-09"}
{:description "exited wrestle voyaged" :amount -2172.15M :date #day "2013-02-09"}
{:description "classicism's mobilize Morrison" :amount 2680.06M :date #day "2013-01-25"}
{:description "Deuteronomy's ripsaws infancy" :amount -4803.26M :date #day "2013-02-17"}
{:description "Liverpudlian's stiffener's weekdays" :amount -4533.83M :date #day "2013-10-31"}
{:description "causal Nunez's blotch's" :amount -4960.78M :date #day "2013-06-19"}
{:description "corrugated motorcyclist's Sister" :amount -36.47M :date #day "2013-12-17"}
{:description "fellatio's sensibility's ladyfinger" :amount -4857.54M :date #day "2013-10-05"}
{:description "morrow polled average's" :amount -4795.29M :date #day "2013-10-31"}
{:description "triplet's freelance expenses" :amount 3375.47M :date #day "2013-12-28"}
{:description "snippet's catalyst Dominican" :amount 4070.09M :date #day "2013-06-19"}
{:description "spokesman's probability minorities" :amount -2060.26M :date #day "2013-08-12"}
{:description "outsiders dell proportioned" :amount -702.76M :date #day "2013-10-09"}
{:description "spotters Foch caliper" :amount -4051.77M :date #day "2013-04-27"}
{:description "Elvira's propellant pedagogue" :amount 2099.30M :date #day "2013-12-08"}
{:description "directive's cog misbehaving" :amount 1879.17M :date #day "2013-09-22"}
{:description "blankets ambitions flextime" :amount 3007.41M :date #day "2013-11-28"}
{:description "chlorinate Fowler Hennessy's" :amount -2976.66M :date #day "2013-04-20"}
{:description "rhymed subsequently swashbuckler's" :amount 4492.24M :date #day "2013-03-21"}
{:description "plumps paling's lunge" :amount -818.48M :date #day "2013-11-07"}
{:description "harpy alley" :amount -81.24M :date #day "2013-03-18"}
{:description "Kenya's Eisenstein Delgado" :amount -4678.05M :date #day "2013-08-16"}
{:description "chuckhole bred chunky" :amount 5.54M :date #day "2013-09-24"}
{:description "FNMA's fastidiously Dixielands" :amount 1793.30M :date #day "2013-12-24"}
{:description "rotation punishment's cowers" :amount 3903.37M :date #day "2013-07-10"}
{:description "creator's Turkish nobles" :amount -4745.69M :date #day "2013-04-09"}
{:description "newsreel's repentance pointer's" :amount 860.80M :date #day "2013-04-22"}
{:description "nonuser's brickbat sandier" :amount 2170.89M :date #day "2013-10-03"}
{:description "rev skylight chamomiles" :amount -1140.82M :date #day "2013-08-14"}
{:description "eighteens econometric entrusting" :amount -374.72M :date #day "2013-04-06"}
{:description "Fourneyron's falls parenthesizes" :amount -3968.86M :date #day "2013-08-05"}
{:description "darted steaks Eucharists" :amount 1241.82M :date #day "2013-03-22"}
{:description "overplay cloakroom Eurasian" :amount 4077.75M :date #day "2013-06-12"}
{:description "stimulants Barry disregarding" :amount 2970.67M :date #day "2013-11-15"}
{:description "religion Ghazvanid's jubilees" :amount 2052.72M :date #day "2013-09-27"}
{:description "fist's accouterments's nighest" :amount -516.57M :date #day "2013-06-02"}
{:description "Danny Bratislava clear's" :amount 3436.52M :date #day "2014-01-01"}
{:description "awareness soup's pie's" :amount -787.12M :date #day "2013-06-14"}
{:description "Alma's bamboozles pendulous" :amount 4826.06M :date #day "2013-10-24"}
{:description "rivet Moldova's masterstroke" :amount 4498.04M :date #day "2013-04-21"}
{:description "innards illuminations luau's" :amount -4181.01M :date #day "2013-10-02"}
{:description "Brandy vibrating brainchildren" :amount -1609.28M :date #day "2013-12-06"}
{:description "eighties refurbished witticism" :amount 4083.47M :date #day "2013-02-12"}
{:description "caws Marple reciprocated" :amount -1271.32M :date #day "2013-04-24"}
{:description "St coitus autopsies" :amount -2064.99M :date #day "2013-11-27"}
{:description "Dunkirk slant Cornelius's" :amount -3178.77M :date #day "2013-08-13"}
{:description "pterodactyl stripped savannahs" :amount -244.80M :date #day "2013-03-16"}
{:description "Parisian's shockproof enthusiastically" :amount -2753.71M :date #day "2013-01-29"}
{:description "wreck's titmice eateries" :amount 4274.42M :date #day "2013-05-12"}
{:description "interlaced pikes Kingstown's" :amount -1261.10M :date #day "2013-04-22"}
{:description "stiles overspecialize Permian's" :amount -1952.27M :date #day "2013-08-31"}
{:description "forked Hartline's larch" :amount 4242.15M :date #day "2013-06-22"}
{:description "rewindable incredulously West's" :amount -3525.08M :date #day "2013-07-15"}
{:description "amortized Adolph's prohibiting" :amount 1490.96M :date #day "2013-08-24"}
{:description "Szilard's chainsawing kerchief's" :amount -1194.06M :date #day "2013-02-24"}
{:description "bolt's Oaxaca mismanagement's" :amount -4239.89M :date #day "2013-09-02"}
{:description "repeated dizzily ragamuffin" :amount 3881.72M :date #day "2013-11-29"}
{:description "die's Elliott bungler" :amount 4918.33M :date #day "2013-12-14"}
{:description "cottonmouth sheikhdom's dynamic" :amount -496.58M :date #day "2013-07-05"}
{:description "plebiscite's twin groundlessly" :amount -4074.37M :date #day "2013-03-31"}
{:description "systemic Vitus pushups" :amount 2003.49M :date #day "2013-10-15"}
{:description "toasty paleface's shillalahs" :amount 4677.81M :date #day "2013-11-12"}
{:description "scimitar's asymmetric Manitoulin" :amount 3042.01M :date #day "2013-05-03"}
{:description "prototype's glottis Sasha" :amount -2441.23M :date #day "2013-01-10"}
{:description "agitators mandible's exacerbated" :amount -2454.58M :date #day "2013-07-17"}
{:description "Chuvash's reinvests hurrahed" :amount 2591.02M :date #day "2013-04-25"}
{:description "ripely ides wee" :amount 3978.83M :date #day "2013-06-21"}
{:description "fornication's Ebro's procrastinating" :amount -2307.18M :date #day "2013-12-13"}
{:description "irreverence's defector buzzer's" :amount -3408.15M :date #day "2013-11-01"}
{:description "fearlessly Javanese's camera's" :amount -560.59M :date #day "2013-02-17"}
{:description "droppings's duodenum spot" :amount -3975.64M :date #day "2013-08-22"}
{:description "Saskatchewan bludgeon choral's" :amount -3304.42M :date #day "2013-05-22"}
{:description "Leos readership's offices" :amount 319.09M :date #day "2013-06-09"}
{:description "endemics sparseness Herculaneum" :amount 1168.36M :date #day "2013-07-05"}
{:description "tubercular principals dork" :amount 2517.87M :date #day "2013-06-10"}
{:description "hexagon contradistinction atoms" :amount -1520.37M :date #day "2013-08-03"}
{:description "whereat devious displacement's" :amount -4860.21M :date #day "2013-03-01"}
{:description "lordships mollusc prearranging" :amount 3813.38M :date #day "2013-03-10"}
{:description "nonmembers miser's twerp's" :amount -1559.58M :date #day "2013-02-26"}
{:description "parameter Scandinavian dowagers" :amount -4908.55M :date #day "2013-07-15"}
{:description "fulmination's sperm's rosiness's" :amount -3174.64M :date #day "2013-03-11"}
{:description "punts Doug's Midland" :amount -4189.42M :date #day "2013-12-06"}
{:description "greensward potboiler's chicks" :amount -4812.59M :date #day "2013-09-16"}
{:description "Abram scad Deena" :amount -3181.58M :date #day "2013-12-27"}
{:description "mechanics's chalkiest regular" :amount -1124.21M :date #day "2013-06-11"}
{:description "Latonya's pass Lela's" :amount -601.44M :date #day "2013-01-07"}
{:description "elation's Ramirez vacantly" :amount -1689.82M :date #day "2013-06-13"}
{:description "disclosures dolts underwent" :amount -2313.19M :date #day "2013-02-13"}
{:description "panache stringency upheaval" :amount -83.02M :date #day "2013-02-10"}
{:description "stable's change's abhorred" :amount 1798.36M :date #day "2013-03-15"}
{:description "apportioning pipsqueaks Bahamians" :amount 1637.09M :date #day "2013-07-24"}
{:description "crewed armament's Buchwald" :amount 583.31M :date #day "2013-09-02"}
{:description "intuitions picnicker blood's" :amount -3033.90M :date #day "2013-08-01"}
{:description "decommissioned carcinomata like's" :amount 3553.41M :date #day "2013-12-17"}
{:description "ampere Westinghouse Bacon's" :amount -4382.16M :date #day "2013-11-26"}
{:description "cleanups mistletoe's customized" :amount 3728.83M :date #day "2013-04-11"}
{:description "giddy substructure's grotesque" :amount -4784.68M :date #day "2013-08-24"}
{:description "totality's socialist's Manx's" :amount 1239.71M :date #day "2013-01-31"}
{:description "famously cancelled backpacked" :amount 2559.39M :date #day "2013-01-16"}
{:description "impracticality's Permian overindulges" :amount 4492.50M :date #day "2013-11-20"}
{:description "loaded fatalities Albania" :amount -1802.01M :date #day "2013-05-26"}
{:description "skiing's catchiest denotation" :amount 1058.86M :date #day "2013-03-29"}
{:description "vibrant guzzling buzzed" :amount 4942.50M :date #day "2013-05-29"}
{:description "schoolmarm's squatting woes" :amount -2218.90M :date #day "2013-05-24"}
{:description "entice pinion layover" :amount -1960.45M :date #day "2013-05-28"}
{:description "overtones meandered elaborates" :amount 361.51M :date #day "2013-08-31"}
{:description "gnarl downplaying picks" :amount 3366.72M :date #day "2013-11-24"}
{:description "whirls stripteasing conversely" :amount 367.91M :date #day "2013-11-26"}
{:description "implication's classically helper" :amount -738.69M :date #day "2013-05-08"}
{:description "twits isolate's lamb's" :amount 3200.54M :date #day "2013-03-20"}
{:description "emery's soughing flush" :amount -1474.77M :date #day "2013-04-09"}
{:description "sniper's forbiddings ethnics" :amount 33.14M :date #day "2013-08-13"}
{:description "kindles counteroffers snuffers" :amount 2998.54M :date #day "2013-01-03"}
{:description "binder cockfight retailing" :amount 1005.23M :date #day "2013-06-07"}
{:description "bubbles platforming blanket" :amount -3346.68M :date #day "2013-07-05"}
{:description "mentor Northwests awakens" :amount -4365.91M :date #day "2013-08-29"}
{:description "anon riffles air's" :amount -2030.92M :date #day "2013-12-04"}
{:description "monitor troubleshot significantly" :amount 924.35M :date #day "2013-02-10"}
